@inherits LayoutComponentBase


<SfSidebar @bind-IsOpen="_navigationSidebarToggle"
           Type="SidebarType.Push"
           Position="SidebarPosition.Left"
           EnableGestures="false"
           Width="300px"
           DockSize="190px"
           EnableDock="true">
    <ChildContent>
        <div class="fm-sidebar__nav py-4">
            <FmTypography Text="Formee"
                          Type="@Typography.LevelOne"
                          TextAlign="center"
                          Classes="fm-motto mb-3" />

            <FmLink Route="/"
                    ActiveClass="fm-link__active"
                    Text="Home"
                    Classes="fm-link d-flex justify-content-center mb-3"
                    Icon="fa-solid fa-home" />

            <FmLink Route="/dashboard/containers"
                    ActiveClass="fm-link__active"
                    MatchRoute="NavLinkMatch.Prefix"
                    Text="Containers"
                    Classes="fm-link d-flex justify-content-center mb-3"
                    Icon="fa-solid fa-boxes-stacked" />

            <FmLink Route="/dashboard/sites"
                    ActiveClass="fm-link__active"
                    MatchRoute="NavLinkMatch.Prefix"
                    Text="Sites"
                    Classes="fm-link d-flex justify-content-center mb-3"
                    Icon="fa-solid fa-window-restore" />

            <FmLink Route="@Routes.LiveChat"
                    ActiveClass="fm-link__active"
                    Text="Live Chat"
                    Classes="fm-link d-flex justify-content-center mb-3"
                    Icon="fa-solid fa-headset" />

            <FmLink Route="@Routes.Links"
                    ActiveClass="fm-link__active"
                    Text="Links"
                    Classes="fm-link d-flex justify-content-center mb-3"
                    Icon="fa-solid fa-arrow-up-right-from-square" />

            <FmLink Route="/identity"
                    ActiveClass="fm-link__active"
                    Text="Identity Management"
                    Classes="fm-link d-flex justify-content-center mb-3"
                    Icon="fa-solid fa-user" />

            <FmLink Route="/subscription"
                    ActiveClass="fm-link__active"
                    Text="Subscription"
                    Classes="fm-link d-flex justify-content-center mb-3"
                    Icon="fa-solid fa-credit-card" />

            <FmLink Route="@Routes.History"
                    ActiveClass="fm-link__active"
                    Text="History"
                    Classes="fm-link d-flex justify-content-center mb-3"
                    Icon="fa-solid fa-clock-rotate-left" />
        </div>
    </ChildContent>
</SfSidebar>


<div class="maincontent e-main-content">
    <SfAppBar ColorMode="AppBarColor.Light">
        <div class="app-bar__wrapper">
            <FmTypography Text="Hello, Mohammed Alwedaei" 
                          Type="@Typography.LevelOne" 
                          Classes="fm-typography__display-1" />
            <AppBarSpacer/>
            <div class="d-flex justify-content-center align-items-center">
                <SfTooltip Position="Syncfusion.Blazor.Popups.Position.BottomCenter" 
                           Content="Notifications Service">
                    <div class="d-flex justify-content-center align-items-center">
                        @if (NotificationsService.ConnectionStatus)
                        {
                            <span class="fm-connection-status fm-bg-color__success"></span>
                            <FmTypography Text="Connected"
                                      Classes="fm-typography__lead ml-1" />
                        }
                        else
                        {
                            <span class="fm-connection-status fm-bg-color__danger"></span>
                            <FmTypography Text="Disconnected"
                                      Classes="fm-typography__lead ml-1" />
                        }
                    </div>
                </SfTooltip>
            </div>
        </div>
    </SfAppBar>

    <FmSpacer />

    <main class="main-content__wrapper">
        @Body
    </main>
</div>

<SfSidebar @bind-IsOpen="_userSidebarToggle"
           Type="SidebarType.Push"
           Position="SidebarPosition.Right"
           EnableGestures="false"
           Width="350px"
           DockSize="120px"
           EnableDock="true">
    <ChildContent>
        <div class="fm-sidebar__user py-4">
            <div class="d-flex justify-content-between align-items-center">
                <FmLoader FetchingState="_isFetching">
                    <Content>
                        <AppBarNotification />
                    </Content>
                </FmLoader>

                <div>
                    <AppBarAccessControl />
                </div>
            </div>
        </div>
    </ChildContent>
</SfSidebar>

<FmSpacer />
