<FmPageIntro Heading="Sites">
    <Breadcrumbs>
        <BreadcrumbItem IconCss="fa-solid fa-house"
                        Text="Dashboard"
                        Url="/dashboard" />

        <BreadcrumbItem IconCss="fa-solid fa-boxes-stacked"
                        Disabled="true"
                        Text="Sites"
                        Url="@Routes.Sites" />
    </Breadcrumbs>
</FmPageIntro>

<FmSpacer />

<FmLoader FetchingState="IsFetching">
    <Content>
        <Grid Gap="@GridGap.Large">
            <Items>
                @foreach (var site in Sites)
                {
                    <GridItem ColumnSize="@GridSize.GridItemMedium">
                        <Child>
                            <FmCard>
                                <FmBody>
                                    <h1>@site.Name</h1>

                                    <FmLink Route="@(Routes.ViewSites + "?id=" + site.Id)" Text="view site" />
                                </FmBody>
                            </FmCard>
                        </Child>
                    </GridItem>
                }

                <GridItem ColumnSize="@GridSize.GridItemXLarge">
                    <Child>
                        <FmCard Classes="py-4 fm-card__border-dashed"
                                IsHoverable="true" OnClick="NavigateToUpsertSite">
                            <FmBody>
                                <div class="d-flex align-items-center justify-content-center">
                                    <FmTypography Type="@Typography.LevelTwo"
                                                  Text="Create new Site"
                                                  TextAlign="center"
                                                  Icon="fa-solid fa-plus-circle"
                                                  IconSize="1.5rem" />
                                </div>
                            </FmBody>
                        </FmCard>
                    </Child>
                </GridItem>
            </Items>
        </Grid>
    </Content>
</FmLoader>