@inherits LayoutComponentBase

<SfSidebar @bind-IsOpen="_navigationSidebarToggle"
           Type="SidebarType.Push"
           Position="SidebarPosition.Left"
           EnableGestures="false"
           Width="300px"
           DockSize="190px"
           EnableDock="true">
    <ChildContent>

        <div class="fm-sidebar__nav py-4">
            <FmTypography Text="Formee"
                          Type="@Typography.LevelOne"
                          TextAlign="center"
                          Classes="fm-motto mb-3"/>
            @if (AppState.Identity.User.Id != Guid.Empty)
            {
                <SfTooltip Position="Syncfusion.Blazor.Popups.Position.RightCenter"
                           Content="Home">
                    <FmLink Route="@($"?user_id={AppState.Identity.User.Id}")"
                            ActiveClass="fm-link__active"
                            Text="Home"
                            Classes="fm-link d-flex justify-content-center mb-3"
                            Icon="fa-solid fa-home"/>
                </SfTooltip>

                <SfTooltip Position="Syncfusion.Blazor.Popups.Position.RightCenter"
                           Content="My Containers">
                    <FmLink Route="@($"{Routes.Containers}?user_id={AppState.Identity.User.Id}")"
                            ActiveClass="fm-link__active"
                            MatchRoute="NavLinkMatch.Prefix"
                            Text="Containers"
                            Classes="fm-link d-flex justify-content-center mb-3"
                            Icon="fa-solid fa-boxes-stacked"/>
                </SfTooltip>

                <SfTooltip Position="Syncfusion.Blazor.Popups.Position.RightCenter"
                           Content="My Sites">
                    <FmLink Route="@Routes.Sites"
                            ActiveClass="fm-link__active"
                            MatchRoute="NavLinkMatch.Prefix"
                            Text="Sites"
                            Classes="fm-link d-flex justify-content-center mb-3"
                            Icon="fa-solid fa-window-restore"/>
                </SfTooltip>

                <SfTooltip Position="Syncfusion.Blazor.Popups.Position.RightCenter"
                           Content="My Links">
                    <FmLink Route="@Routes.Links"
                            ActiveClass="fm-link__active"
                            Text="Links"
                            Classes="fm-link d-flex justify-content-center mb-3"
                            Icon="fa-solid fa-arrow-up-right-from-square"/>
                </SfTooltip>

                <SfTooltip Position="Syncfusion.Blazor.Popups.Position.RightCenter"
                           Content="My Profile">
                    <FmLink Route="@($"{Routes.Identity}?user_id={AppState.Identity.User.Id}")"
                            ActiveClass="fm-link__active"
                            Text="Identity Management"
                            Classes="fm-link d-flex justify-content-center mb-3"
                            Icon="fa-solid fa-user"/>
                </SfTooltip>

                <SfTooltip Position="Syncfusion.Blazor.Popups.Position.RightCenter"
                           Content="My Subscription">
                    <FmLink Route="/subscription"
                            ActiveClass="fm-link__active"
                            Text="Subscription"
                            Classes="fm-link d-flex justify-content-center mb-3"
                            Icon="fa-solid fa-credit-card"/>
                </SfTooltip>

                <SfTooltip Position="Syncfusion.Blazor.Popups.Position.RightCenter"
                           Content="My History">
                    <FmLink Route="@($"{Routes.History}?user_id={AppState.Identity.User.Id}")"
                            ActiveClass="fm-link__active"
                            Text="History"
                            Classes="fm-link d-flex justify-content-center mb-3"
                            Icon="fa-solid fa-clock-rotate-left"/>
                </SfTooltip>
            }
            else
            {
                <SfSpinner Visible="true" />
            }
        </div>
    </ChildContent>
</SfSidebar>

<div class="maincontent e-main-content">
    <SfAppBar ColorMode="AppBarColor.Light">
        <div class="app-bar__wrapper">
            @if (!string.IsNullOrEmpty(AppState.Identity.User.UserName))
            {
                <FmTypography Text="@($"Hello, {AppState.Identity.User.UserName}")"
                              Type="@Typography.LevelOne"
                              Classes="fm-typography__display-1"/>
            }

            <AppBarSpacer/>

            <div class="d-flex justify-content-center align-items-center">
                <SfTooltip Position="Syncfusion.Blazor.Popups.Position.BottomCenter"
                           Content="Notifications Service">
                    <div class="d-flex justify-content-center align-items-center">
                        @if (AppState.Notifications.IsConnected)
                        {
                            <span class="fm-connection-status fm-bg-color__success"></span>
                            <FmTypography Text="Connected"
                                          Classes="fm-typography__lead ml-1"/>
                        }
                        else
                        {
                            <span class="fm-connection-status fm-bg-color__danger"></span>
                            <FmTypography Text="Disconnected"
                                          Classes="fm-typography__lead ml-1"/>
                        }
                    </div>
                </SfTooltip>
            </div>
        </div>
    </SfAppBar>

    <FmSpacer/>

    <main class="main-content__wrapper">
        <ErrorBoundary>
            @Body
        </ErrorBoundary>
    </main>
</div>


<SfSidebar @bind-IsOpen="_userSidebarToggle"
           Type="SidebarType.Push"
           Position="SidebarPosition.Right"
           EnableGestures="false"
           Width="350px"
           DockSize="120px"
           EnableDock="true">
    <ChildContent>
        <div class="fm-sidebar__user py-4">
            <div class="d-flex justify-content-between align-items-center">
                @if (AppState.Identity.User.Id != Guid.Empty)
                {
                    <AppBarNotification/>
                }

                <SfTooltip Position="Syncfusion.Blazor.Popups.Position.BottomCenter"
                           Content="Settings">
                    <SfIcon IconCss="fa-solid fa-gear"
                            class="fm-sidebar__icon"/>
                </SfTooltip>

                <div>
                    @if (AppState.Identity.User.Id != Guid.Empty)
                    {
                        <AppBarAccessControl/>
                    }
                </div>
            </div>

            <div>
                @if (AppState.Notifications.NotificationsCollection is not null)
                {
                    foreach (var notification in AppState.Notifications.NotificationsCollection)
                    {
                        <p>@notification.Heading</p>
                    }
                }
                else
                {
                    <p>There are no notifications to display</p>
                }
            </div>
        </div>
    </ChildContent>
</SfSidebar>

<FmSpacer/>

<AuthorizeView>
    <AggregateUserIdentity />
</AuthorizeView>