@page "/"

<FmPageIntro Heading="Dashboard">
    <Breadcrumbs>
        <BreadcrumbItem IconCss="fa-solid fa-house"
                        Text="Dashboard"
                        Url="/" />
    </Breadcrumbs>
</FmPageIntro>

<FmSpacer />

@if (AppState.Identity.User.Id != Guid.Empty)
{
    <section>
        <SfDashboardLayout Columns="4"
                       CellSpacing="@(new double[]{ 40 ,40 })"
                       AllowResizing="false"
                       AllowDragging="false"
                       AllowFloating="false">
            <DashboardLayoutPanels>
                <DashboardLayoutPanel CssClass="fm-dashboard__item-clear-styles"
                                  Column="0"
                                  Row="0"
                                  SizeX="3"
                                  SizeY="1">
                    <Header>
                        <FmTypography Text="General Statistics"
                                  Type="@Typography.LevelTwo" />
                    </Header>
                    <ContentTemplate>
                        <Grid Gap="@GridGap.Large">
                            <Items>
                                <GridItem ColumnSize="@GridSize.GridItemSmall">
                                    <Child>
                                        <FmCard>
                                            <FmHeader>
                                                <div class="e-card__icon">
                                                    <FmIcon Icon="fa-solid fa-boxes-stacked" />
                                                </div>
                                            </FmHeader>

                                            <FmBody>
                                                <FmTypography Text="@AppState.Containers.ContainersCollection.Count.ToString()"
                                                          Type="@Typography.LevelThree"
                                                          Classes="fm-typography__display-3"
                                                          TextAlign="left" />

                                                <FmTypography Text="Your active containers"
                                                          Classes="fm-typography__lead" />
                                            </FmBody>
                                        </FmCard>
                                    </Child>
                                </GridItem>

                                <GridItem ColumnSize="@GridSize.GridItemSmall">
                                    <Child>
                                        <FmCard>
                                            <FmHeader>
                                                <div class="e-card__icon">
                                                    <FmIcon Icon="fa-solid fa-window-restore" />
                                                </div>
                                            </FmHeader>

                                            <FmBody>
                                                @if (AppState.Analytics.Sites is not null)
                                                                                               {
                                                                                                   <FmTypography Text="@AppState.Analytics.Sites.Count.ToString()"
                                                                                                                 Type="@Typography.LevelThree"
                                                                                                                 Classes="fm-typography__display-3"
                                                                                                                 TextAlign="left" />
                                                                                               }
                                                                                               else
                                                                                               {
                                                                                                   <SfSpinner Visible="true" />
                                                                                               }

                                                <FmTypography Text="Your site count"
                                                          Classes="fm-typography__lead" />
                                            </FmBody>
                                        </FmCard>
                                    </Child>
                                </GridItem>

                                <GridItem ColumnSize="@GridSize.GridItemSmall">
                                    <Child>
                                        <FmCard>
                                            <FmHeader>
                                                <div class="e-card__icon">
                                                    <FmIcon Icon="fa-solid fa-location-crosshairs" />
                                                </div>
                                            </FmHeader>

                                            <FmBody>
                                               @if (AppState.Analytics.Hits is not null)
                                               {
                                                   <FmTypography Text="@AppState.Analytics.Hits.Count.ToString()"
                                                                 Type="@Typography.LevelThree"
                                                                 Classes="fm-typography__display-3"
                                                                 TextAlign="left" />
                                               }
                                               else
                                               {
                                                   <SfSpinner Visible="true" />
                                               }

                                                <FmTypography Text="Hits in last week"
                                                          Classes="fm-typography__lead" />
                                            </FmBody>
                                        </FmCard>
                                    </Child>
                                </GridItem>

                                <GridItem ColumnSize="@GridSize.GridItemSmall">
                                    <Child>
                                        <FmCard>
                                            <FmHeader>
                                                <div class="e-card__icon">
                                                    <FmIcon Icon="fa-regular fa-rectangle-list" />
                                                </div>
                                            </FmHeader>

                                            <FmBody>
                                                <FmTypography Text="175"
                                                          Type="@Typography.LevelThree"
                                                          Classes="fm-typography__display-3"
                                                          TextAlign="left" />

                                                <FmTypography Text="Forms sent in last week"
                                                          Classes="fm-typography__lead" />
                                            </FmBody>
                                        </FmCard>
                                    </Child>
                                </GridItem>
                            </Items>
                        </Grid>
                    </ContentTemplate>
                </DashboardLayoutPanel>

                <DashboardLayoutPanel CssClass="fm-dashboard__item-clear-styles"
                                  Column="4"
                                  SizeX="1"
                                  SizeY="1">
                    <Header>
                        <div class="d-flex justify-content-between align-items-center">
                            <FmTypography Text="Unread Notifications"
                                      Type="@Typography.LevelTwo" />

                            <FmTypography Text="@AppState.Notifications.UnreadNotificationsCount.ToString()"
                                      Type="@Typography.LevelThree" />
                        </div>
                    </Header>

                    <ContentTemplate>
                        <FmCard>
                            <FmBody>
                                @if (AppState.Notifications.NotificationsCollection is not null)
                                {
                                    @foreach (var notification in AppState.Notifications.NotificationsCollection)
                                    {
                                        <NotificationModalItem Notification="@notification"
                                                               OnMarkAsRead="HandleMarkAsRead"/>
                                    }
                                }
                            </FmBody>
                        </FmCard>
                    </ContentTemplate>
                </DashboardLayoutPanel>

                <DashboardLayoutPanel Column="0" Row="1" SizeX="2" SizeY="1">
                    <Header>
                        <FmTypography Text="Hits in this month"
                                  Type="@Typography.LevelTwo" />
                    </Header>

                    <ContentTemplate>
                        @if (AppState.Analytics.HitChartDataSeries is not null && 
                             AppState.Analytics.IsFetching != true)
                        {
                            <SfChart Width="100%" Title="Number of hits">
                                <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.DateTime"
                                           IntervalType="IntervalType.Days" />

                                <ChartSeriesCollection>
                                    <ChartSeries DataSource="@AppState.Analytics.HitChartDataSeries"
                                         XName="Date"
                                         YName="Count"
                                         Type="ChartSeriesType.Line" />
                                </ChartSeriesCollection>
                            </SfChart>
                        }
                        else
                        {
                            <FmNotFound Message="There are no data to display" />
                        }
                    </ContentTemplate>
                </DashboardLayoutPanel>

                <DashboardLayoutPanel Column="3" Row="1" SizeX="2" SizeY="1">
                    <Header>
                        <FmTypography Text="Top performing Categories"
                                  Type="@Typography.LevelTwo" />
                    </Header>
                    <ContentTemplate>
                        @if (AppState.Analytics.TopPerformingCategories is not null 
                             && AppState.Analytics.IsFetching != true)
                        {
                            <SfChart Width="100%" Title="Number of hits">
                                <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"
                                                   IntervalType="IntervalType.Days" />

                                <ChartSeriesCollection>
                                    <ChartSeries DataSource="@AppState.Analytics.TopPerformingCategories"
                                                 XName="Name"
                                                 YName="Count"
                                                 Type="ChartSeriesType.StackingBar" />
                                </ChartSeriesCollection>
                            </SfChart>
                        }
                        else
                        {
                            <FmNotFound Message="There are no data to display" />
                        }
                    </ContentTemplate>
                </DashboardLayoutPanel>
            </DashboardLayoutPanels>
        </SfDashboardLayout>
    </section>

    <FmSpacer />
}
else
{
    <SfSpinner Visible="true" Size="75" />
}