<FmPageIntro Heading="Links">
    <Breadcrumbs>
        <BreadcrumbItem IconCss="fa-solid fa-house"
                        Text="Dashboard"
                        Url="@Routes.Home" />

        <BreadcrumbItem IconCss="fa-solid fa-arrow-up-right-from-square"
                        Disabled="true"
                        Text="Links"
                        Url="@Routes.Links" />
    </Breadcrumbs>
</FmPageIntro>

<FmSpacer />

<FmTab OnTabChange="HandleContainerChangeEvent">
    <FmTabItems>
        @if (ContainersService.Containers.Any())
        {
            foreach (var container in ContainersService.Containers)
            {
                <FmTabItem Id="@container.Id">
                    <Header>
                        <FmTypography Type="@Typography.LevelTwo"
                              Icon="@container.Icon"
                              Text="@container.Name"
                              Classes="d-flex justify-content-center align-items-center" />
                    </Header>

                    <Body>
                        <FmSpacer />

                        <SfDashboardLayout Columns="4"
                                   CellSpacing="@(new double[] {40, 40})"
                                   AllowResizing="false"
                                   AllowDragging="false"
                                   AllowFloating="false">
                            <DashboardLayoutPanels>
                                <DashboardLayoutPanel Column="0" Row="0" SizeX="3" SizeY="1">
                                    <Header>
                                        <FmTypography Text="Analytics"
                                              Type="@Typography.LevelTwo" />
                                    </Header>

                                    <ContentTemplate>
                                        @if (_linkHitsChart.Any() && _isSuccessLinkFetch)
                                        {
                                            <SfChart Width="100%" Title="Number of hits">
                                                <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.DateTime"
                                                       IntervalType="IntervalType.Days" />

                                                <ChartSeriesCollection>
                                                    <ChartSeries DataSource="_linkHitsChart"
                                                     XName="Date"
                                                     YName="Count"
                                                     Type="ChartSeriesType.Line" />
                                                </ChartSeriesCollection>
                                            </SfChart>
                                        }
                                        else
                                        {
                                            <p>There are no data to be displayed</p>
                                        }
                                    </ContentTemplate>
                                </DashboardLayoutPanel>

                                <DashboardLayoutPanel Column="4" Row="0" SizeX="1" SizeY="1">
                                    <Header>
                                        <FmTypography Text="Recent Links"
                                              Type="@Typography.LevelTwo" />
                                    </Header>

                                    <ContentTemplate>
                                        @if (_links.Any() && _isSuccessLinkFetch)
                                        {
                                            var lastItem = _links.LastOrDefault();

                                            foreach (var link in _links)
                                            {
                                                <FmLinkItem Link="link" />

                                                if (link != lastItem)
                                                {
                                                    <FmSpacer />
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <FmNotFound />
                                        }
                                    </ContentTemplate>
                                </DashboardLayoutPanel>
                            </DashboardLayoutPanels>
                        </SfDashboardLayout>
                    </Body>
                </FmTabItem>
            }
        }
        else
        {
            <SfSpinner Visible="true" />
        }
    </FmTabItems>
</FmTab>