<FmPageIntro Heading="Links">
    <Breadcrumbs>
        <BreadcrumbItem IconCss="fa-solid fa-house"
                        Text="Dashboard"
                        Url="@Routes.Home" />

        <BreadcrumbItem IconCss="fa-solid fa-arrow-up-right-from-square"
                        Disabled="true"
                        Text="Links"
                        Url="@Routes.Links" />
    </Breadcrumbs>
</FmPageIntro>

<FmSpacer />

<FmTypography Text="Change container" />

<FmSpacer />

<FmLoader FetchingState="IsFetching">
    <Content>
        <ContainerSelector DataSource="Containers"
                           OnChange="HandleContainerChangeEvent" />
    </Content>
</FmLoader>

<FmSpacer />



<FmLoader FetchingState="IsFetching">
    <Content>
        <Grid>
            <Items>
                <GridItem ColumnSize="@GridSize.Normal">
                    <Child>
                        <FmCard Classes="@Card.Warning">
                            <FmHeader>
                                <FmTypography Text="Links"
                                              Type="@Typography.LevelTwo" />
                            </FmHeader>

                            <FmBody>
                                <div>
                                    <FmTypography Text="@Links.Count.ToString()"
                                                  Type="@Typography.LevelThree" />

                                    <SfIcon IconCss="fa-solid fa-money-bill" />
                                </div>
                            </FmBody>
                        </FmCard>
                    </Child>
                </GridItem>

                <GridItem ColumnSize="@GridSize.Normal">
                    <Child>
                        <FmCard Classes="@Card.Success">
                            <FmHeader>
                                <FmTypography Text="Redirects"
                                              Type="@Typography.LevelTwo" />
                            </FmHeader>

                            <FmBody>
                                <div>
                                    <FmTypography Text="15"
                                                  Type="@Typography.LevelThree" />

                                    <SfIcon IconCss="fa-solid fa-money-bill" />
                                </div>
                            </FmBody>
                        </FmCard>
                    </Child>
                </GridItem>

                <GridItem ColumnSize="@GridSize.Normal">
                    <Child>
                        <FmCard Classes="@Card.Danger">
                            <FmHeader>
                                <FmTypography Text="Redirects"
                                              Type="@Typography.LevelTwo" />
                            </FmHeader>

                            <FmBody>
                                <div>
                                    <FmTypography Text="10"
                                                  Type="@Typography.LevelThree" />

                                    <SfIcon IconCss="fa-solid fa-money-bill" />
                                </div>
                            </FmBody>
                        </FmCard>
                    </Child>
                </GridItem>
            </Items>
        </Grid>

        <FmSpacer />

        <SfDashboardLayout Columns="4"
                           CellSpacing="@(new double[] {40, 40})"
                           AllowResizing="false"
                           AllowDragging="false"
                           AllowFloating="false">
            <DashboardLayoutPanels>
                <DashboardLayoutPanel Column="0" Row="0" SizeX="3" SizeY="1">
                    <Header>
                        <FmTypography Text="Analytics"
                                      Type="@Typography.LevelTwo"/>
                    </Header>

                    <ContentTemplate>

                    </ContentTemplate>
                </DashboardLayoutPanel>

                <DashboardLayoutPanel Column="4" Row="0" SizeX="1" SizeY="1">
                    <Header>
                        <FmTypography Text="Recent Links"
                                      Type="@Typography.LevelTwo"/>
                    </Header>

                    <ContentTemplate>
                        @foreach (var link in Links)
                        {
                            <FmTypography Text="@link.TargetUrl"
                                          Type="@Typography.LevelTwo"/>

                            <FmTypography Text="@link.OriginalUrl"
                                          Classes="fm-link__small"/>
                        }
                    </ContentTemplate>
                </DashboardLayoutPanel>
            </DashboardLayoutPanels>
        </SfDashboardLayout>
    </Content>
</FmLoader>

