<FmPageIntro Heading="History">
    <Breadcrumbs>
        <BreadcrumbItem IconCss="fa-solid fa-house"
                        Text="Dashboard"
                        Url="@Routes.Home"/>

        <BreadcrumbItem IconCss="fa-solid fa-clock-rotate-left"
                        Disabled="true"
                        Text="History"
                        Url="@Routes.History"/>
    </Breadcrumbs>
</FmPageIntro>

<FmSpacer/>

<div>
    <FmTypography Type="@Typography.LevelTwo" 
    Text="Filter History" />

    <FmSpacer />

    <SfButtonGroup>
        <SfButton CssClass="e-links" 
            IconCss="fa-solid fa-boxes-stacked">
            Containers
         </SfButton>
        <SfButton CssClass="e-links" IconCss="fa-solid fa-window-restore">
            Sites
        </SfButton>
        <SfButton CssClass="e-links" IconCss="fa-solid fa-envelope">
            Forms
        </SfButton>
        <SfButton CssClass="e-links" IconCss="fa-solid fa-arrow-up-right-from-square">
            Links
        </SfButton>
    </SfButtonGroup>
</div>

<FmSpacer />

@if (!string.IsNullOrEmpty(AppState.Identity.User.Avatar.Name) && AppState.History.HistoryCollection != null)
{
    <Grid Gap="@GridGap.Large">
        <Items>
            @foreach (var history in AppState.History.HistoryCollection)
            {
                <GridItem ColumnSize="@GridSize.GridItemXLarge">
                    <Child>
                        <FmCard>
                            <FmBody>
                                <div class="d-flex justify-content-start align-items-center">
                                    <div>
                                        @{
                                            var avatarName = AppState.Identity.User.Avatar.Name;
                                            var avatarUrl = $"https://formeestorage.blob.core.windows.net/formeeavatars/{avatarName}";

                                            <FmAvatar Url="@avatarUrl" Classes="e-avatar e-avatar-large" />
                                        }
                                    </div>

                                    <div class="ml-2">
                                        <FmTypography Text="@history.Action" />

                                        <FmTypography Text="@history.Title"
                                              Type="@Typography.LevelTwo" />

                                        <FmTypography Text="@history.Service" />
                                    </div>
                                </div>
                            </FmBody>
                        </FmCard>
                    </Child>
                </GridItem>
            }
        </Items>
    </Grid>

    <FmSpacer/>

    <SfPager @ref="_pager"
             PageSize=3
             NumericItemsCount=4
             TotalItemsCount=25
             ItemClick="HandlePageChange">
    </SfPager>
}