<FmPageIntro Heading="My Profile">
    <Breadcrumbs>
        <BreadcrumbItem IconCss="fa-solid fa-house"
                        Text="Dashboard"
                        Url="@Routes.Home" />

        <BreadcrumbItem IconCss="fa-solid fa-arrow-up-right-from-square"
                        Disabled="true"
                        Text="Identity"
                        Url="@Routes.Links" />

        @switch (UpsertType)
        {
            case "update":
                <BreadcrumbItem IconCss="fa-solid fa-edit"
                        Text="Update"
                        Url="/upsert" />
                break;
            case "delete":
                <BreadcrumbItem IconCss="fa-solid fa-trash"
                        Text="Delete"
                        Url="/upsert" />
                break;
            default:
                <BreadcrumbItem IconCss="fa-solid fa-plus-circle"
                        Text="Create"
                        Url="/upsert" />
                break;
        }
    </Breadcrumbs>
</FmPageIntro>

<FmSpacer />

<EditForm Model="User" OnValidSubmit="HandleValidFormSubmit">
    <Grid Gap="@GridGap.Large">
        <Items>
            <GridItem ColumnSize="@GridSize.GridIteLarge">
                <Child>
                    <Grid Gap="@GridGap.Large">
                        <Items>
                            <GridItem ColumnSize="@GridSize.GridItemXLarge">
                                <Child>
                                    <FmCard Classes="p-2" IsHoverable="false">
                                        <FmHeader>
                                            <FmTypography Type="@Typography.LevelTwo"
                                                          Text="Basic Info"
                                                          TextAlign="left"
                                                          Icon="fa-solid fa-plus-circle"
                                                          IconSize="1.5rem" />
                                        </FmHeader>
                                        <FmBody>
                                            <Grid Gap="@GridGap.Large">
                                                <Items>
                                                    <GridItem ColumnSize="@GridSize.GridItemMedium">
                                                        <Child>
                                                            <label for="@nameof(User.UserName)">
                                                                Username
                                                            </label>

                                                            <SfTextBox ID="@nameof(User.UserName)"
                                                                       @bind-Value="User.UserName"
                                                                       Readonly="_isDeleteUpsert" />

                                                            <ValidationMessage For="() => User.UserName" />
                                                        </Child>
                                                    </GridItem>

                                                    <GridItem ColumnSize="@GridSize.GridItemMedium">
                                                        <Child>
                                                            <label for="@nameof(User.FirstName)">
                                                                FirstName
                                                            </label>

                                                            <SfTextBox ID="@nameof(User.FirstName)"
                                                                       @bind-Value="User.FirstName"
                                                                       Readonly="_isDeleteUpsert" />

                                                            <ValidationMessage For="() => User.FirstName" />
                                                        </Child>
                                                    </GridItem>

                                                    <GridItem ColumnSize="@GridSize.GridItemMedium">
                                                        <Child>
                                                            <label for="@nameof(User.LastName)">
                                                                LastName
                                                            </label>

                                                            <SfTextBox ID="@nameof(User.LastName)"
                                                                       @bind-Value="User.LastName"
                                                                       Readonly="_isDeleteUpsert" />

                                                            <ValidationMessage For="() => User.LastName" />
                                                        </Child>
                                                    </GridItem>

                                                </Items>
                                            </Grid>
                                        </FmBody>
                                    </FmCard>
                                </Child>
                            </GridItem>
                            
                            <GridItem ColumnSize="@GridSize.GridItemXLarge">
                                <Child>
                                    <FmCard Classes="p-2"
                                            IsHoverable="false">
                                        <FmHeader>
                                            <FmTypography Type="@Typography.LevelTwo"
                                                          Text="Upload Avatar"
                                                          TextAlign="left"
                                                          Icon="fa-solid fa-file-image"
                                                          IconSize="1.5rem" />
                                        </FmHeader>
                                        <FmBody>
                                            <div>
                                                <SfUploader AllowedExtensions=".png, .jpg, .jpeg">
                                                    <UploaderAsyncSettings SaveUrl=@($"http://localhost:5000/api/identity/users/avatar/{AppState.Identity.User.Id}") />
                                                </SfUploader>

                                                <ValidationMessage For="() => User.LastName" />
                                            </div>
                                        </FmBody>
                                    </FmCard>
                                </Child>
                            </GridItem>

                            <GridItem ColumnSize="@GridSize.GridItemXLarge">
                                <Child>
                                    <FmCard Classes="p-2"
                                            IsHoverable="false">
                                        <FmHeader>
                                            <FmTypography Type="@Typography.LevelTwo"
                                                          Text="Create"
                                                          TextAlign="left"
                                                          Icon="fa-solid fa-plus-circle"
                                                          IconSize="1.5rem" />
                                        </FmHeader>
                                        <FmBody>
                                            <div>
                                                @if (UpsertType == "update")
                                                {
                                                    <SfButton CssClass="e-primary"
                                                          IconCss="fa-solid fa-trash"
                                                          IconPosition="IconPosition.Right"
                                                          IsPrimary="true">
                                                        @UpsertType.ToUpper()
                                                    </SfButton>
                                                }
                                                else if (UpsertType == "delete")
                                                {
                                                    <SfButton CssClass="e-primary"
                                                          IconCss="fa-solid fa-trash"
                                                          IconPosition="IconPosition.Right"
                                                          IsPrimary="true">
                                                        @UpsertType.ToUpper()
                                                    </SfButton>
                                                }
                                                else
                                                {

                                                    <SfButton CssClass="e-primary"
                                                          IconCss="fa-solid fa-trash"
                                                          IconPosition="IconPosition.Right"
                                                          IsPrimary="true">
                                                        @UpsertType.ToUpper()
                                                    </SfButton>
                                                }
                                            </div>
                                        </FmBody>
                                    </FmCard>
                                </Child>
                            </GridItem>
                        </Items>
                    </Grid>
                </Child>
            </GridItem>

            <GridItem ColumnSize="@GridSize.GridItemSmall">
                <Child>
                    <div>
                        <FmCard Classes="p-2 mb-3"
                                IsHoverable="false">
                            <FmHeader>
                                <FmTypography Type="@Typography.LevelTwo"
                                              Text="Preview"
                                              TextAlign="left"
                                              Icon="fa-solid fa-check"
                                              IconSize="1.5rem" />
                            </FmHeader>
                            <FmBody>

                            </FmBody>
                        </FmCard>

                        <FmCard Classes="p-2"
                                IsHoverable="false">
                            <FmHeader>
                                <FmTypography Type="@Typography.LevelTwo"
                                              Text="Form Validation"
                                              TextAlign="left"
                                              Icon="fa-solid fa-check"
                                              IconSize="1.5rem" />
                            </FmHeader>
                            <FmBody>
                                <DataAnnotationsValidator />
                                <ValidationSummary />
                            </FmBody>
                        </FmCard>
                    </div>
                </Child>
            </GridItem>
        </Items>
    </Grid>
</EditForm>

<SfDialog Width="600px"
          @bind-Visible="_isVisibleConfirmationDialog"
          AllowPrerender="true"
          IsModal="true">
    <DialogAnimationSettings Effect="DialogEffect.SlideBottom" Duration=400 />

    @if (_isSendingRequest)
    {
        <DialogTemplates>
            <Header>Your request is being processed</Header>
            <Content>
                <FmSpacer />
                <SfSpinner Size="50" Visible="true" />
                <FmSpacer />
            </Content>
        </DialogTemplates>
    }
    else if (_isSuccessRequest && !_isSendingRequest)
    {
        <DialogTemplates>
            <Header>Success!!!</Header>
            <Content>You will be redirected in a few seconds</Content>
        </DialogTemplates>
    }
    else
    {
        <DialogTemplates>
            <Header>You are about to @UpsertType this container?</Header>
            <Content> You are just about to @UpsertType this container, this action is not reversable once approved </Content>
        </DialogTemplates>
    }
    <DialogButtons>
        <DialogButton Content="@UpsertType"
                      IconCss="fa-solid fa-trash"
                      IsPrimary="true"
                      IconPosition="IconPosition.Right"
                      Disabled="_isSendingRequest"
                      OnClick="HandleActionApprove" />

        <DialogButton Content="Cancel"
                      IconCss="fa-solid fa-xmark"
                      IconPosition="IconPosition.Right"
                      Disabled="_isSendingRequest"
                      OnClick="HandleActionReject" />
    </DialogButtons>
</SfDialog>