<FmPageIntro Heading="History">
    <Breadcrumbs>
        <BreadcrumbItem IconCss="fa-solid fa-house"
                        Text="Dashboard"
                        Url="@Routes.Home"/>

        <BreadcrumbItem IconCss="fa-solid fa-clock-rotate-left"
                        Disabled="true"
                        Text="History"
                        Url="@Routes.History"/>
    </Breadcrumbs>
</FmPageIntro>

<FmSpacer/>

@if (!string.IsNullOrEmpty(AppState.Identity.User.Avatar.Name) && AppState.History.HistoryCollection != null)
{
    <Grid Gap="@GridGap.Large">
        <Items>
            @foreach (var history in AppState.History.HistoryCollection)
            {
                <GridItem ColumnSize="@GridSize.GridItemXLarge">
                    <Child>
                        <FmCard>
                            <FmBody>
                                <div>
                                    @{
                                        var avatarUrl = $"https://adoptingmsastorage.blob.core.windows.net/accountavatars/{AppState.Identity.User.Avatar.Name}";

                                        <img class="e-avatar e-avatar-large" src="@avatarUrl" alt=""/>
                                    }
                                </div>

                                <div>
                                    <FmTypography Text="@history.Action"/>

                                    <FmTypography Text="@history.Title"
                                                  Type="@Typography.LevelTwo"/>

                                    <FmTypography Text="@history.Service"/>
                                </div>
                            </FmBody>
                        </FmCard>
                    </Child>
                </GridItem>
            }
        </Items>
    </Grid>

    <FmSpacer/>

    <SfPager @ref="_pager"
             PageSize=5
             NumericItemsCount=4
             TotalItemsCount=25
             ItemClick="HandlePageChange">
    </SfPager>
}