<FmPageIntro Heading="My Containers">
    <Breadcrumbs>
        <BreadcrumbItem IconCss="fa-solid fa-house"
                        Text="Dashboard"
                        Url="/" />

        <BreadcrumbItem IconCss="fa-solid fa-boxes-stacked"
                                Disabled
                        Text="Containers"
                        Url="/containers" />
    </Breadcrumbs>
    </FmPageIntro>

    <FmSpacer />

    @if (AppState.Containers.ContainersCollection != null)
{
    <FmTab OnTabChange="HandleContainerChangeEvent">
        <FmTabItems>
            @foreach (var container in AppState.Containers.ContainersCollection)
            {
                <FmTabItem Id="@container.Id">
                    <Header>
                        <FmTypography Type="@Typography.LevelTwo"
                              Icon="@container.Icon"
                              Text="@container.Name"
                              Classes="d-flex justify-content-center align-items-center" />
                    </Header>

                    <Body>
                        <FmSpacer />
                        <SfDashboardLayout Columns="4"
                                   CellSpacing="@(new double[] {40, 40})"
                                   AllowResizing="false"
                                   AllowDragging="false"
                                   AllowFloating="false">
                            <DashboardLayoutPanels>
                                <DashboardLayoutPanel Column="0"
                                              Row="0"
                                              SizeX="2"
                                              SizeY="2">
                                    <ContentTemplate>
                                        <div class="fm-markdown__display">
                                            @if (!string.IsNullOrEmpty(container.Description))
                                            {
                                                <FmMarkdown Markup="@container.Description" />
                                            }
                                        </div>
                                    </ContentTemplate>
                                </DashboardLayoutPanel>
                                <DashboardLayoutPanel Column="3"
                                              Row="0"
                                              SizeX="2"
                                              SizeY="1">
                                    <ContentTemplate>
                                        @*<SfAccumulationChart Title="Mobile Browser Statistics" EnableBorderOnMouseMove="false">
                                <AccumulationChartLegendSettings Visible="true" />
                                <AccumulationChartTooltipSettings Enable="true" />

                                <AccumulationChartSeriesCollection>
                                <AccumulationChartSeries DataSource="_pageHitsDisplay"
                                XName="X"
                                YName="Y"
                                Name="Browser" />

                                </AccumulationChartSeriesCollection>
                                </SfAccumulationChart>*@
                                    </ContentTemplate>
                                </DashboardLayoutPanel>
                            </DashboardLayoutPanels>
                        </SfDashboardLayout>
                    </Body>
                </FmTabItem>
            }
        </FmTabItems>
    </FmTab>
}
else
{
    <p>
        There are no containers, please start creating one here
        <FmLink Route="@($"{Routes.UpsertContainer}?user_id={UserId}&upsert_type=create")"
            Text="Create container" />
    </p>
}