<FmPageIntro Heading="My Containers">
    <Breadcrumbs>
        <BreadcrumbItem IconCss="fa-solid fa-house"
                        Text="Dashboard"
                        Url="/" />

        <BreadcrumbItem IconCss="fa-solid fa-boxes-stacked"
                        Disabled
                        Text="Containers"
                        Url="/containers" />
    </Breadcrumbs>
</FmPageIntro>

<FmSpacer />

<FmTab OnTabChange="HandleContainerChangeEvent">
    <FmTabItems>
        @if (ContainersService.Containers != null)
        {
            foreach (var container in ContainersService.Containers)
            {
                <FmTabItem Id="@container.Id">
                    <Header>
                        <FmTypography Type="@Typography.LevelTwo"
                              Icon="@container.Icon"
                              Text="@container.Name"
                              Classes="d-flex justify-content-center align-items-center" />
                    </Header>

                    <Body>
                        <FmSpacer />

                        <FmLoader FetchingState="ContainersService.IsFetching">
                            <Content>
                                <p>@container.Id</p>
                            </Content>
                        </FmLoader>
                    </Body>
                </FmTabItem>
            }
        }
    </FmTabItems>
</FmTab>


